# Visualizaci√≥n de datos üìä

En este jupyter se encuentra todo el proceso de visualizaci√≥n y planteamiento de hip√≥tesis, de los datos procesados del dataset descargado de kaggle: "Shark attack"

## √çndice üìé

1. Importaci√≥n de librer√≠as
2. Importaci√≥n del dataset
3. Visualizaci√≥n de datos

## 1. Importaci√≥n de librerias üìö

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

Otras funciones

In [2]:
#import Funciones Funciones as fu

## 2. Importaci√≥n del dataset üìñ

In [9]:
data = pd.read_csv("./attacks_limpio.csv", dtype = str)
data = data.drop("Unnamed: 0", axis = 1)

In [10]:
data

,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Time,Age2
0,Jun,2018,USA,Surfing,M,48,N,07,48
1,Dec,2017,USA,Surfing,F,54,N,18,54
2,Dec,2017,USA,Surfing,F,35,N,12,35
3,Nov,2017,USA,Surfing,F,14,N,UNKNOWN,14
4,Oct,2017,USA,Surfing,M,54,N,18,54
...,...,...,...,...,...,...,...,...,...
1261,UNKNOWN,1900,SOUTH AFRICA,Swimming,M,0,N,UNKNOWN,17
1262,Jan,1887,SOUTH AFRICA,Swimming,M,13,Y,12,13
1263,Jan,1886,SOUTH AFRICA,Swimming,M,0,Y,UNKNOWN,17
1264,Jan,1884,SOUTH AFRICA,Swimming,M,0,Y,UNKNOWN,17
1265,UNKNOWN,UNKNOWN,SOUTH AFRICA,Swimming,M,0,Y,UNKNOWN,17

## 3. Visualizaci√≥n de datos üëÄ

Las hip√≥tesis/estudios planteados a pr√≥posito de establecer las caracter√≠sticas en materia a pa√≠s, hora, √©poca (mes), participantes y dem√°s variables para el campeonato de IronWater son las siguientes:

- Veracidad de s√≠ en los √∫ltimos a√±os ha aumentado el ataque de los tiburones
- Existencia de correlaccion entre el n√∫mero de ataques producidos con el sexo y la edad del afectado
- Pa√≠s con menos accidentes (entre los propuestos)
- Mejor hora y √©poca del a√±o (mes) para realizar el campeonato
- Actividad con mayor riesgo (entre las propuestas)

*El principal objetivo es escoger aquellas en las que se produzca una menor cantidad de ataques de tibur√≥n para garantizar la seguridad de todos los participantes y promover el respeto a la especie en cuesti√≥n.*

### 3.1 Tendencia de los √∫ltimos a√±os ‚è≥

Se pretende comprobar si es cierto que en los √∫ltimos a√±os se han producido un mayor n√∫mero de ataques de tibur√≥n.