# Visualización de datos 📊

En este jupyter se encuentra todo el proceso de visualización y planteamiento de hipótesis, de los datos procesados del dataset descargado de kaggle: "Shark attack"

## Índice 📎

1. Importación de librerías
2. Importación del dataset
3. Visualización de datos

## 1. Importación de librerias 📚

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

Otras funciones

In [4]:
#import Funciones Funciones as fu

## 2. Importación del dataset 📖

In [5]:
data = pd.read_csv("./attacks_limpio.csv")

In [6]:
data

,Unnamed: 0,index,Date,Year,Country,Activity,Sex,Age,Fatal (Y/N),Time,Age2
0,0,2,Jun,2018,USA,Surfing,M,48,N,07,48
1,1,53,Dec,2017,USA,Surfing,F,54,N,18,54
2,2,54,Dec,2017,USA,Surfing,F,35,N,12,35
3,3,61,Nov,2017,USA,Surfing,F,14,N,UNKNOWN,14
4,4,74,Oct,2017,USA,Surfing,M,54,N,18,54
...,...,...,...,...,...,...,...,...,...,...,...
1261,1261,5563,UNKNOWN,1900,SOUTH AFRICA,Swimming,M,0,N,UNKNOWN,17
1262,1262,5747,Jan,1887,SOUTH AFRICA,Swimming,M,13,Y,12,13
1263,1263,5762,Jan,1886,SOUTH AFRICA,Swimming,M,0,Y,UNKNOWN,17
1264,1264,5778,Jan,1884,SOUTH AFRICA,Swimming,M,0,Y,UNKNOWN,17
1265,1265,6213,UNKNOWN,UNKNOWN,SOUTH AFRICA,Swimming,M,0,Y,UNKNOWN,17

## 3. Visualización de datos 👀

Las hipótesis/estudios planteados a próposito de establecer las características en materia a país, hora, época (mes), participantes y demás variables para el campeonato de IronWater son las siguientes:

- Veracidad de sí en los últimos años ha aumentado el ataque de los tiburones
- Existencia de correlaccion entre el número de ataques producidos con el sexo y la edad del afectado
- País con menos accidentes (entre los propuestos)
- Mejor hora y época del año (mes) para realizar el campeonato
- Actividad con mayor riesgo (entre las propuestas)

*El principal objetivo es escoger aquellas en las que se produzca una menor cantidad de ataques de tiburón para garantizar la seguridad de todos los participantes y promover el respeto a la especie en cuestión.*

### 3.1 Tendencia de los últimos años ⏳

Se pretende comprobar si es cierto que en los últimos años se han producido un mayor número de ataques de tiburón.